.wrapper {
    display: block;
    position: fixed;
    top: 3%;
    right: 5%;
    z-index: 1;
    font-family: 'Lato', Helvetica, Arial, sans-serif;

}

.username {
    padding-right: 5px;
}

.link {
    font-weight: 800;
}

.link:hover {
    cursor: pointer;
}
