.wrapper{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    padding: 24px;
    position: relative;
}

.dashboardbtn {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 300px 70px 300px;
    -ms-grid-columns: 300px 70px 300px;
    grid-template-rows: auto 50px auto;
    -ms-grid-rows:  auto 50px auto;
    margin-top: 105px;
}

.dashboardbtn button {
    padding: 20px;
    width: 300px;
    color: white;
    background-color: #0067c6;
    opacity: 0.9;
    font-size: 15px;
    height: 105px;
    border: none;
    border-radius: 5px;
}

.dashboardbtn .datafiltering {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    -ms-grid-row: 1;
}

.dashboardbtn .contractorinfo {
    grid-column: 1;
    -ms-grid-column: 1;
    grid-row: 3;
    -ms-grid-row: 3;
}

.dashboardbtn .reports {
    grid-column: 3;
    -ms-grid-column: 3;
    grid-row: 1;
    -ms-grid-row: 1;
}

.dashboardbtn .addcontractor {
    grid-column: 3;
    grid-row: 3;
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}