.wrapper{

}


.heading{

}

.filterbutton{

}

.filtertable{
    padding-top: 20px;

}

.tableheader{
    background-color: lightgrey;
}

.tablerow{

}

.tableholder{

}

.filterpanel{
    background-color: lightpink;
}
