.wrapper {
    display: flex;
    min-height: 100vh;
    width: fit-content;
}

.content {
    position: absolute;
    top: 50px;
    left: 300px;
    display: inline-flex;
    overflow: auto;
    max-width: 100%;

}

.spinner {
    background-image: url('./Spinner.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(1,1,1,0.2);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
