.wrapper {
    display: flex;
    min-height: 100vh;
}

.content {
    position: relative;
    top: 60%;
    left: 20%;
    margin-left: -150px;
}

.spinner {
    background-image: url('./Spinner.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(1,1,1,0.2);
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
