.wrapper {
    width: 250px;
    background-color: #6C6666;
    height: 100vh;
    display: inline-block;
}

.usertype {
    margin: 0 0 5px 0;
    box-shadow: 0 4px 2px -2px #383636;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 20px 0 20px 0;
    color: white;
}

.wrapper ul {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
    font-size: 13px;
    padding:0;
    box-shadow: 0 4px 2px -2px black;
    text-align: left;
    text-decoration: none;
    margin: 0 0 5px 0;
}

.wrapper li {
    display: block;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 2px -2px #383636;
    text-align: left;
    text-decoration: none;
    margin: 0 0 5px 0;
}

.option {
    background-color: #6C6666;

}

.selected {
    background-color: #524f4f;
}

li:hover {
    background-color: #0067c6;
    color: white;
}
