.wrapper {
    width: 250px;
    background-color: #6C6666;
    display: inline-block;
    position: fixed;
    height: 100%;
}

.usertype {
    margin: 0 0 5px 0;
    box-shadow: 0 4px 2px -2px #383636;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 20px 0 20px 0;
    color: white;
}

.wrapper ul {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    list-style: none;
    font-size: 13px;
    padding:0;
    box-shadow: 0 4px 2px -2px black;
    text-align: left;
    text-decoration: none;
    margin: 0 0 5px 0;
}

.wrapper li {
    display: block;
    color: white;
    padding: 15px;
    box-shadow: 0 4px 2px -2px #383636;
    /*text-align: left;*/
    text-decoration: none;
    margin: 0 0 5px 0;
}

.option {
    background-color: #6C6666;

}

.selected {
    background-color: #0067c6;
}

li:hover {

    background-color: #524f4f;
    color: white;
}


.dash {
    width: 37px;
    height:37px;
    float: left;
    margin-right: 20px;
}

.filter {
    width: 37px;
    height:37px;
    float: left;
    margin-right: 20px;
}

.add{
      width: 37px;
      height:37px;
      float: left;
      margin-right: 20px;
  }

.info{
      width: 37px;
      height:37px;
      float: left;
      margin-right: 20px;
  }

.rep {
    width: 37px;
    height:37px;
    float: left;
    margin-right: 20px;
}

.admin {
    width: 37px;
    height:37px;
    float: left;
    margin-right: 20px;
}

p {
    position: relative;
}

.logo {
 width: 220px;
}