.wrapper{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 24px;
}

 /*css for contractor form */

.contractorform .words {
    display: grid;
    grid-template-columns: 290px 20px 290px 20px 290px;
    grid-template-rows: 50px auto;
}

.contractorform .words .firstname{
    grid-column: 1;
    grid-row: 1;
}

.contractorform .words .surname {
    grid-column: 3;
    grid-row: 1;
}

.contractorform .words .agency {
    grid-column: 1;
    grid-row: 2;
}

.words .txtfield{
    padding: 0;
    width: 250px;
}

 /*css for project form */

.project-info{

}

.projectform {
}



.radiobutton{

}

.btnstyle{

}