.wrapper{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 24px;
}

.wrapper {

}

.contractorform {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    padding: 24px;
}

.contractorform p{
}

.contractorform input{
}

.project-info{

}

.projectform {
}

.txtfield{
    margin-left: 10px;
    margin-right: 5px;
}

.radiobutton{

}

.btnstyle{

}