/* TODO: remove class */
.disabled {
    pointer-events: none;
    background-color: lightgrey !important;
}

.wrapper{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 24px;
}

.contractorform {
    font-size: 14px;
}

.projectInfo {
    font-size: 14px;

}
 /*css for contractor form */

.contractorform .words {
    display: grid;
    grid-template-columns: 340px 90px 340px;
    grid-template-rows: 50px auto;
}

.contractorform .words .firstname{
    grid-column: 1;
    grid-row: 1;
}

.contractorform .words .surname {
    grid-column: 3;
    grid-row: 1;
}

.contractorform .words .agency {
    grid-column: 1;
    grid-row: 2;
}

.words .txtfield{
    width: 340px;
}

 /*css for project form */

.projectInfo{
    display: grid;
    grid-template-columns: 120px 100px 120px 90px 190px 20px 150px;
    grid-template-rows: 50px 10px 50px 10px 50px 10px 50px 20px 30px 20px;
}

.projectInfo .projname {
    grid-column: 1 / 3;
    grid-row: 1;
}

.projectInfo .rm {
    grid-column: 5;
    grid-row: 1;
}

.projectInfo .costcen {
    grid-column: 7;
    grid-row: 1;
}

.projectInfo .start {
    grid-column: 1;
    grid-row: 3;
}

.projectInfo .end {
    grid-column: 3;
    grid-row: 3;
}

.projectInfo .hrpos {
    grid-column: 5 / 7;
    grid-row: 3;
}

.projectInfo .rate {
    grid-column: 1;
    grid-row: 5;
}

.projectInfo .hourrate {
    grid-column: 3;
    grid-row: 5;
}

.projectInfo .hrpay {
    grid-column: 5;
    grid-row: 5;
}

.projectInfo .poref {
    grid-column: 7;
    grid-row: 5;
}

.projectInfo .currency {
    grid-column: 5/7;
    grid-row: 10;
}

.projectInfo .timeMaterial {
    grid-column: 1;
    grid-row: 7;
}

.projectInfo .allowanceExpense {
    grid-column: 3;
    grid-row: 7;
}

.projectInfo .chargeType {
    grid-column: 5 / 7;
    grid-row: 9;
}

.projectInfo .mainSkill {
    grid-column: 5;
    grid-row: 7;
}

.projectInfo .origindoc {
    grid-column: 7;
    grid-row: 7;
}

.projectInfo .termination{
    grid-column: 1 / 3;
    grid-row: 9;
}

.projectInfo .projname .txtfield{
    width: 340px;
}

.projectInfo .rm .txtfield {
    width: 175px;
}

.projectInfo .costcen .txtfield {
    width: 130px;
}

.projectInfo .hrpos .txtfield {
    width: 340px;
}

.projectInfo .rate .txtfield {
    width: 175px;
}

.projectInfo .hourrate .txtfield {
    width: 120px;
}

.projectInfo .hrpay .txtfield {
    width: 175px;
}

.projectInfo .poref .txtfield {
    width: 130px;
}

.projectInfo .start .startinput {
    width: 120px;
}

.projectInfo .end .endinput {
    width: 120px;
}

.projectInfo .timeMaterial .txtField {
    width: 175px;
}

.projectInfo .allowanceExpense .txtField {
    width: 120px;
}

.projectInfo .mainSkill .txtField {
    width: 175px;
}

.projectInfo .termination .txtField {
    width: 340px;
}

.projectInfo .origindoc .txtField {
    width: 130px;
}

.radiobutton{
    margin-left: 15px;
}

.btnstyle{
    padding: 5px 10px;
    margin-right: 20px;
    background-color: #0067c6;
    color: white;
    opacity: 0.8;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
}

.btnstyle:hover {
    background-color: #0067c6;
    opacity: 0.2;
    color: white;
}