.wrapper{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.searchbar{
    margin-bottom: 10px;
    text-align: left;
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

.tableheader {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #0067c6;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: white;
    border: 1px solid #ddd
}

.tableheader th {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.tablecontainer {
    overflow-y: auto;
}

.filtertable tr:nth-child(even){
    background-color: #f2f2f2;
}

.tablerow {
    padding: 8px;
}

.tablerow:hover .editimage{
    visibility: visible;
}

.tablebody td {
    text-align: center;
}

.rowData {

}

.editimage {
    width: 37px;
    height: 37px;
    background-image: url('../../../../../design/editdark.png');
    cursor: pointer;
    background-size: 37px 37px;
    background-color: transparent;
    border: none;
    visibility: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
}