.wrapper{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.searchbar{
    margin-bottom: 10px;
    text-align: left;
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}

.editbtn{
    padding: 5px 10px;
    background-color: #BFD9F1;
    color: black;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin-right:10px;
    visibility: hidden;
}

.tableheader {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #0067c6;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: white;
    border: 1px solid #ddd
}

.tableheader th {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.filtertable tr:nth-child(even){
    background-color: #f2f2f2;
}

.tablerow {
    padding: 8px;
}

.tablerow:hover .editbtn{
    visibility: visible;
}

.tablebody td {
    text-align: center;
}

.rowData {

}