.wrapper{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 24px;
}

.contractorform {
    font-size: 14px;
    background-color: #F2F4F7;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    width: 850px;
}


.projectInfo {
    font-size: 14px;
    margin-top: 20px;
    background-color: #F2F4F7;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 6%;

}
 /*css for contractor form */

.contractorform .words {
    display: grid;
        display: -ms-grid;
    grid-template-columns: 340px 100px 395px;
    grid-template-rows: 50px auto;
    -ms-grid-columns: 340px 100px 395px;
    -ms-grid-rows: 50px auto;
}

.contractorform .words .firstname{
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.contractorform .words .surname {
    grid-column: 3;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.contractorform .words .agency {
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.words .txtfield{
    width: 395px;
}

 /*css for project form */

.projectInfo{
    display: grid;
        display: -ms-grid;
    grid-template-columns: 150px 70px 150px 70px 190px 55px 150px;
    grid-template-rows: 50px 10px 50px 10px 50px 10px 25px 30px 20px 30px;
    -ms-grid-columns: 150px 70px 150px 70px 190px 55px 150px;
    -ms-grid-rows: 50px 10px 50px 10px 50px 10px 25px 30px 20px 30px;
}

.projectInfo .projname {
    grid-column: 1 / 3;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
}

.projectInfo .rm {
    grid-column: 5;
    grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-row: 1;
}

.projectInfo .costcen {
    grid-column: 7;
    grid-row: 1;
    -ms-grid-column: 7;
    -ms-grid-row: 1;
}

.projectInfo .start {
    grid-column: 1;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.projectInfo .end {
    grid-column: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

.projectInfo .hrpos {
    grid-column: 5 / 7;
    grid-row: 3;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    -ms-grid-row: 3;
}

.projectInfo .rate {
    grid-column: 1;
    grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}

.projectInfo .hourrate {
    grid-column: 3;
    grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-row: 5;
}

.projectInfo .hrpay {
    grid-column: 5;
    grid-row: 5;
    -ms-grid-column: 5;
    -ms-grid-row: 5;
}

.projectInfo .poref {
    grid-column: 7;
    grid-row: 5;
    -ms-grid-column: 7;
    -ms-grid-row: 5;
}

.projectInfo .currency {
    grid-column: 5/7;
    grid-row: 10;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    -ms-grid-row: 10;
}

.projectInfo .timeMaterial {
    grid-column: 1;
    grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-row: 7;
}

.projectInfo .allowanceExpense {
    grid-column: 3;
    grid-row: 7;
    -ms-grid-column: 3;
    -ms-grid-row: 7;
}

.projectInfo .chargeType {
    grid-column: 5 / 8;
    grid-row: 9;
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    -ms-grid-row: 9;
}

.projectInfo .mainSkill {
    grid-column: 5;
    grid-row: 7;
    -ms-grid-column: 5;
    -ms-grid-row: 7;
}

.projectInfo .origindoc {
    grid-column: 7;
    grid-row: 7;
    -ms-grid-column: 7;
    -ms-grid-row: 7;
}

.projectInfo .termination{
    grid-column: 1 / 3;
    grid-row: 10;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 10;
}

.projectInfo .projname .txtfield{
    width: 395px;
}

.projectInfo .rm .txtfield {
    width: 200px;
}

.projectInfo .costcen .txtfield {
    width: 150px;
}

.projectInfo .hrpos .txtfield {
    width: 395px;
}

.projectInfo .rate .txtfield {
    width: 175px;
}

.projectInfo .hourrate .txtfield {
    width: 175px;
}

.projectInfo .hrpay .txtfield {
    width: 200px;
}

.projectInfo .poref .txtfield {
    width: 150px;
}

.projectInfo .start .startinput {
    width: 175px;
}

.projectInfo .end .endinput {
    width: 175px;
}

.projectInfo .timeMaterial .txtField {
    width: 175px;
}

.projectInfo .allowanceExpense .txtField {
    width: 175px;
}

.projectInfo .mainSkill .txtField {
    width: 200px;
}

.projectInfo .termination .txtField {
    width: 395px;
}

.projectInfo .origindoc .txtField {
    width: 150px;
}

.radiobutton{
    margin-left: 15px;
}

.btnstyle{
    padding: 5px 10px;
    margin-right: 20px;
    background-color: #0067c6;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 40px;
}

.btnstyle:hover {
    background-color: #0067c6;
    opacity: 0.2;
    color: white;
}

.backbtnstyle{
    padding: 5px 10px;
    margin-right: 20px;
    background-color: #0067c6;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
}

.backbtnstyle:hover {
    background-color: #0067c6;
    opacity: 0.2;
    color: white;
}
