.panelwrapper {

}

.returnbtn {
    padding: 5px 10px;
    background-color: #0067c6;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
}

.fxreturnbtn {
    padding: 5px 10px;
    background-color: #0067c6;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.returnbtn:hover {
    background-color: #0067c6;
    opacity: 0.2;
    color: white;
}

.fxreturnbtn:hover {
    background-color: #0067c6;
    opacity: 0.2;
    color: white;
}

.topoftable .returnbtn {
    margin-top: 10px;
}

.addnewrow {
    padding: 5px 10px;
    background-color: #0067c6;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.addnewrow:hover {
    background-color: #0067c6;
    opacity: 0.5;
    color: white;
}

.titlename {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 10px;
}

.editbtn {
    padding: 5px 10px;
    background-color: #BFD9F1;
    color: black;
    border: none;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    margin-right:10px;
}

.editbtn:hover {
    background-color: #E5F0FA;
    color: black;
}

.table {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    border-collapse: collapse;
}

.tableheader {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0067c6;
    color: white;
    border: 1px solid #ddd
}

.tablerow {

}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.tablerowcontent {
    padding: 8px;
}

.form {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.formfield span{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.formfield input,select {
    margin-left: 10px;
    padding: 1px;
    margin-bottom: 5px;
}
