.wrapper{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    padding: 24px;
    position: relative;
}

.adminpanelbtn {
    display: grid;
        display: -ms-grid;
    grid-template-columns: 300px 70px 300px;
    -ms-grid-columns: 300px 70px 300px;
    grid-template-rows: auto 40px auto 40px auto 40px;
    -ms-grid-rows:  auto 40px auto 40px auto 40px;
    margin-top: 95px;
}

.adminpanelbtn button {
    padding: 20px;
    width: 300px;
    color: white;
    background-color: #0067c6;
    opacity: 0.9;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    height: 105px;
}

.adminpanelbtn button:hover {
    cursor: pointer;
}

.adminpanelbtn .hrRoles {
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.adminpanelbtn .skills {
    grid-column: 3;
    grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.adminpanelbtn .fxtable {
    grid-column: 1;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.adminpanelbtn .paygrades {
    grid-column: 3;
    grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

.adminpanelbtn .hrmanagers {
    grid-column: 1;
    grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}

.adminpanelbtn .users {
    grid-column: 3;
    grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-row: 5;
}

.success {
    background-color: #DAF7A6;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.error {
    background-color: #FF8F77;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}
